---
import ContactContent from "../components/ContactContent.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contacto - Vital Pet´s" location="contacto">
  <main>
    <ContactContent />
  </main>
</Layout>
