---
import SliderHome from "../components/SliderHome.astro";
import Layout from "../layouts/Layout.astro";
import Indexline from "../components/Indexline.astro";
import Footer from "../components/Footer.astro";
import HorarioAtencion from "../components/HorarioAtencion.astro";
---

<Layout title="VitalPets" location="inicio">
  <SliderHome />
  <section class="py-14">
    <div class="mx-auto px-6 lg:px-8 container">
      <div class="gap-8 grid grid-cols-1 md:grid-cols-2">
        <!-- Images Grid -->
        <div class="gap-4 grid grid-cols-2">
          <div class="flex flex-col space-y-4 hover:scale-105">
            <img
              src="./Img1Family.webp"
              alt="Imagen 1"
              class="shadow-lg rounded-lg w-full h-48 object-cover"
            />
            <img
              src="./ImgSlider1.webp"
              alt="Imagen 2"
              class="shadow-lg rounded-lg w-full h-44 object-cover"
            />
          </div>

          <div class="row-span-2 hover:scale-105">
            <img
              src="./Img3Family.webp"
              alt="Imagen 1"
              class="shadow-lg rounded-lg w-full h-96 object-cover"
            />
          </div>
        </div>

        <!-- Text Content -->
        <div>
          <h2 class="mb-4 font-bold text-4xl text-center text-gray-800">
            <!-- Añadido text-center -->
            <span class="inline-flex justify-center items-center">
              <!-- Añadido justify-center -->
              <img
                src="./Icons/Icon24H.webp"
                alt="Icono"
                class="mr-10 size-12"
              />
              <span class="mr-4">La familia</span>
              <!-- Cambiar ml-8 por mr-4 -->
              <span class="text-red-600">Vital Pet's</span>
            </span>
          </h2>
          <p class="mb-6 font-bold text-center text-lg">
            Cuidamos con amor, protegemos con ciencia.
          </p>
          <p class="mr-8 mb-4 text-justify">
            En Vital Pet's, nacimos del amor y la pasión por los animales. Desde
            el primer día, nuestro objetivo ha sido brindar un espacio donde las
            mascotas reciban el mejor cuidado posible, rodeadas de respeto y
            afecto.
          </p>
          <p class="mr-8 mb-4 text-justify">
            Nuestro equipo está compuesto por profesionales altamente
            capacitados que comparten la misma misión: asegurar que cada mascota
            que entra por nuestras puertas sea tratada con el máximo cuidado,
            dedicación y cariño. Nos enorgullecemos de ofrecer una atención
            personalizada, adaptada a las necesidades de cada paciente, porque
            sabemos que cada mascota es especial.
          </p>
        </div>
      </div>
    </div>
  </section>

  <Indexline />
  <HorarioAtencion />
  <Footer />
</Layout>
