---
import LoginContent from "../components/LoginContent.astro"
import LoginLayout from "../layouts/LoginLayout.astro"
---

<LoginLayout title="Login - Vital Pet´s">
	<main>
		<LoginContent />
	</main>
</LoginLayout>

