---
import Layout from "../layouts/Layout.astro";
const backgroundImage = "./productsImage.png";
---

<Layout title="Productos - VitalPet’s" location="productos">
  <section
    class="relative h-[80vh] w-full bg-cover bg-center"
    style={`background-image: url(${backgroundImage});`}
  >
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <!-- Capa oscura sobre la imagen -->

    <div
      class="relative z-10 flex flex-col items-center justify-center h-full text-center text-white"
    >
      <h1 class="text-4xl font-bold">Nuestros Servicios</h1>
      <p class="mt-4 text-xl">Tu mascota hace parte de nosotros</p>
      <div class="mt-6 flex items-center space-x-2 text-white">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-home"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M5 12l-2 0l9 -9l9 9l-2 0"></path>
          <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path>
          <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path>
        </svg>
        <span class="text-base"> > Somos VitalPet’s</span>
      </div>
    </div>
  </section></Layout
>
