---

---

<div class="container mx-auto px-6 lg:px-48 mb-10">
    <h2 class="text-center text-3xl font-bold mb-10">Nuestro Grupo de Especialistas</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
  
    <!-- Card 1: Dra. Carolina Méndez -->
    <div class=" overflow-hidden flex flex-col items-center">
    <img src="./Carolina M.svg" alt="Dr. Carolina M" class="size-60 object-cover mx-auto hover:scale-105">
    <div class="bg-red-700 bg-opacity-85 text-white p-4 relative w-64">
      <div class="absolute inset-0 bg-[url('./FondoHuellas2.webp')] bg-cover"></div>
      <h3 class="font-bold text-lg z-10 relative">Dra. Carolina Méndez</h3>
      <p class="text-sm z-10 relative">Medicina Interna</p>
      <p class="text-sm z-10 relative text-justify">
        10 años de experiencia en cuidados intensivos y bienestar animal.
      </p>
    </div>
  </div>
  
      <!-- Card 2: Dr. Andres Ramírez -->
      <div class=" overflow-hidden flex flex-col items-center">
        <img src="/Andres R.svg" alt="Dr. Andres Ramírez" class="size-60 object-cover mx-auto  hover:scale-105">
        <div class="bg-red-700 bg-opacity-85 text-white p-4 relative w-64">
          <div class="absolute inset-0 bg-[url('./FondoHuellas2.webp')] bg-cover bg-center"></div>
          <h3 class="font-bold text-lg z-10 relative">Dr. Andres Ramírez</h3>
          <p class="text-sm z-10 relative">Dermatología Veterinaria</p>
          <p class="text-sm z-10 relative text-justify">8 años de experiencia. Experto en tratamientos para problemas de piel.</p>
        </div>
      </div>
  
      <!-- Card 3: Dra. Juliana Salazar -->
      <div class=" overflow-hidden flex flex-col items-center">
        <img src="./Juliana S.svg" alt="Dra. Juliana Salazar" class="size-60 object-cover mx-auto  hover:scale-105">
        <div class="bg-red-700 bg-opacity-85 text-white p-4 relative w-64">
          <div class="absolute inset-0 bg-[url('./FondoHuellas2.webp')] bg-cover bg-center"></div>
          <h3 class="font-bold text-lg z-10 relative">Dra. Juliana Salazar</h3>
          <p class="text-sm z-10 relative">Emergencias</p>
          <p class="text-sm z-10 relative text-justify">2 años de experiencia. Veterinario especializado en atención urgente.</p>
        </div>
      </div>
  
    </div>
  </div>
  