<div class="w-full h-[300px] grid grid-cols-3 grid-rows-1 mb-20">
  <div
    class="w-full group overflow-clip relative flex flex-col items-center justify-center gap-5"
  >
    <div class="absolute inset-0 bg-black opacity-20"></div>
    <img src="./clinicaicon.png" alt="imagen de un perro" class="relative" />
    <img
      src="./imagen1index.png"
      alt="imagen de un gato siendo atendido"
      class="absolute object-cover w-full -z-10 group-hover:scale-110 duration-500"
    />
    <p class="relative text-white text-3xl font-normal">Clinica Veterinaria</p>
    <a
      href="/servicios/clinica"
      class="bg-red-600/80 px-7 py-2 relative rounded-3xl text-white font-bold hover:bg-[#179BAE]/60 duration-200"
      >Ver más</a
    >
  </div>
  <div
    class="w-full group overflow-clip relative flex flex-col items-center justify-center gap-5"
  >
    <div class="absolute inset-0 bg-black opacity-20"></div>
    <img
      src="./peluqueriaicon.png"
      alt="Imgen de herramientas de corte de pelo canino"
      class="relative"
    />
    <img
      src="./imagen2index.png"
      alt="imagen de un gato"
      class="absolute object-cover w-full -z-10 group-hover:scale-110 duration-500"
    />
    <p class="relative text-white text-3xl font-normal">Peluquería</p>
    <a
      href=""
      class="bg-red-600/80 px-7 py-2 relative rounded-3xl text-white font-bold hover:bg-[#179BAE]/60 duration-200"
      >Ver más</a
    >
  </div>
  <div
    class="w-full group overflow-clip relative flex flex-col items-center justify-center gap-5"
  >
    <div class="absolute inset-0 bg-black opacity-20"></div>

    <img
      class="relative"
      src="./urgenciasicono.png"
      alt="imagen de un gato siendo atendido"
    />
    <img
      class="absolute object-cover w-full -z-10 group-hover:scale-110 duration-500"
      src="./imagen3index.png"
      alt="Imagen de perro siendo atendido"
    />
    <p class="relative text-white text-3xl font-normal">Servicio Ugencias</p>
    <a
      href=""
      class="bg-red-600/80 px-7 py-2 relative rounded-3xl text-white font-bold hover:bg-[#179BAE]/60 duration-200"
      >Ver más</a
    >
  </div>
</div>
